
.btn-editing{
    display: flex;
    flex-direction: column;
}

.btn-editing button{
    margin-bottom: 10px;
}

.btn-cancel{
    background-color: red;
}

.btn-cancel:hover{
    background-color: rgb(204, 4, 4);
}